body {
    background: rgb(241, 241, 241);
}

.container {    
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.form--container {
    border: 1px solid #d1d1d1;
    width: fit-content;
    margin-top: 2em;
    padding: 1em;
    width: 16em;
    background: #ffffff;
}

.form--container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1em; */
}

.form__container {
    margin-top: 2em;
}
.form__container div {
    margin: 0.7em;
}

.form__header {
    margin-top: 0em;
}

.form__header > button {
    margin-bottom: 2em;
    background: #0000ff;
    color: #ffffff;
    width: 100%;
    outline: none;
    border: none;
    /* font-size: 1em; */
    font-weight: 600;
    padding: 0.3em 0em;
    cursor: pointer;
}

.form__header > label {
    font-size: 3em;
    font-family: 'Billabong', sans-serif;
}

.form__header > p {
    text-align: center;
    word-break: break-all;
    line-height: 1.6em;
    font-size: 1.02em;
    color: grey;
    font-weight: 500;
}

.input {
    padding: 0.4em 0.6em;
    width: 17em;
}

.form__container [type="submit"] {
    width: 100%;
    background: #0095f6;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.form__container [type="submit"]:disabled {
    opacity: 0.5;
}

#form--footer {
    border: 1px solid #d1d1d1;
    padding: 1.5em 1.2em;
    margin-top: 1em;
    width: 16em;
    text-align: center;
    background: #ffffff;

}

#form--footer a{
    text-decoration: none;
}
#form--footer label {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}
